body {
  margin: 0;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-monospace: 'Roboto Mono', monospace;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  --label-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --label-color: rgb(159, 173, 188);
  --label-font-weight: 600;
}

:root {
  --project-selector-height: 38px;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pre-wrap {
  white-space: pre-wrap;
}

.atlaskit-portal-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;
}

.atlaskit-portal {
  z-index: 500;
}

:root {
  --font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-monospace: 'Roboto Mono', monospace;
}
