# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist

*.tsbuildinfo

packages/app-executor/bin/executor-bundle.js
packages/app-executor/bin/executor-bundle.cjs

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo

.idea

packages/app/stats.html
.yarn/cache/@esbuild-darwin-arm64-npm-0.19.5-82a2f54ec1-10.zip
.yarn/cache/@esbuild-darwin-x64-npm-0.19.5-4272029ad4-10.zip
.yarn/cache/@esbuild-linux-arm64-npm-0.19.5-076767add2-10.zip
.yarn/cache/@esbuild-linux-x64-npm-0.19.5-26d0ff8fb5-10.zip
.yarn/cache/@esbuild-win32-arm64-npm-0.19.5-cea4f83b6c-10.zip
.yarn/cache/@esbuild-win32-x64-npm-0.19.5-1e2e5abaa6-10.zip
.yarn/cache/@img-sharp-darwin-arm64-npm-0.33.5-c319591c53-10.zip
.yarn/cache/@img-sharp-darwin-x64-npm-0.33.5-785c54564a-10.zip
.yarn/cache/@img-sharp-libvips-darwin-arm64-npm-1.0.4-d0d063884a-10.zip
.yarn/cache/@img-sharp-libvips-darwin-x64-npm-1.0.4-6fde8e50e0-10.zip
.yarn/cache/@img-sharp-win32-x64-npm-0.33.5-e9e45d0448-10.zip
.yarn/cache/@next-swc-darwin-arm64-npm-15.1.7-26bfa8425e-10.zip
.yarn/cache/@next-swc-darwin-x64-npm-15.1.7-a0b06dee9a-10.zip
.yarn/cache/@next-swc-win32-arm64-msvc-npm-15.1.7-68baa23870-10.zip
.yarn/cache/@next-swc-win32-x64-msvc-npm-15.1.7-fa1036dd7f-10.zip
.yarn/cache/@rollup-rollup-darwin-arm64-npm-4.34.6-dd4643c533-10.zip
.yarn/cache/@rollup-rollup-darwin-x64-npm-4.34.6-bb611f2be6-10.zip
.yarn/cache/@rollup-rollup-win32-arm64-msvc-npm-4.34.6-2c4855bf67-10.zip
.yarn/cache/@rollup-rollup-win32-x64-msvc-npm-4.34.6-5bf9f957d3-10.zip
.yarn/cache/@swc-core-darwin-arm64-npm-1.3.94-473247f562-10.zip
.yarn/cache/@swc-core-darwin-x64-npm-1.3.94-61b2a5c548-10.zip
.yarn/cache/@swc-core-win32-arm64-msvc-npm-1.3.94-b8a2ee6527-10.zip
.yarn/cache/@swc-core-win32-x64-msvc-npm-1.3.94-14ce04eea5-10.zip
.yarn/cache/@tauri-apps-cli-darwin-arm64-npm-1.6.0-08d49b2394-10.zip
.yarn/cache/@tauri-apps-cli-darwin-x64-npm-1.6.0-9b1e08770c-10.zip
.yarn/cache/@tauri-apps-cli-win32-arm64-msvc-npm-1.6.0-f056802200-10.zip
.yarn/cache/@tauri-apps-cli-win32-x64-msvc-npm-1.6.0-f752bf85f6-10.zip
.yarn/cache/@esbuild-darwin-arm64-npm-0.19.5-82a2f54ec1-10.zip
.yarn/cache/@esbuild-linux-arm64-npm-0.19.5-076767add2-10.zip
.yarn/cache/@esbuild-win32-arm64-npm-0.19.5-cea4f83b6c-10.zip
.yarn/cache/@img-sharp-darwin-arm64-npm-0.33.5-c319591c53-10.zip
.yarn/cache/@img-sharp-libvips-darwin-arm64-npm-1.0.4-d0d063884a-10.zip
.yarn/cache/@next-swc-darwin-arm64-npm-15.1.7-26bfa8425e-10.zip
.yarn/cache/@next-swc-win32-arm64-msvc-npm-15.1.7-68baa23870-10.zip
.yarn/cache/@rollup-rollup-darwin-arm64-npm-4.34.6-dd4643c533-10.zip
.yarn/cache/@rollup-rollup-win32-arm64-msvc-npm-4.34.6-2c4855bf67-10.zip
.yarn/cache/@swc-core-darwin-arm64-npm-1.3.94-473247f562-10.zip
.yarn/cache/@swc-core-win32-arm64-msvc-npm-1.3.94-b8a2ee6527-10.zip
.yarn/cache/@tauri-apps-cli-darwin-arm64-npm-1.6.0-08d49b2394-10.zip
.yarn/cache/@tauri-apps-cli-win32-arm64-msvc-npm-1.6.0-f056802200-10.zip
