/* Global variables */
.main {
  --white-0: #fff;
  --white-1: #f9f9f7;
  --black-0: #1c212b;
  --black-1: #333;
  --orange-0: #ff8862;
  --orange-1: #c67d63;

  --page-padding-side: 40px;
}

.main {
  /* background-color: var(--orange-0); */
  color: var(--black-1);
  font-family: Circular Std, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.lines {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/static/img/lines.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: max(100%, 1440px);
  pointer-events: none;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 32px;
}

p {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main {
    --page-padding-side: 120px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 32px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }

  a,
  button {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    --page-padding-side: 240px;
  }

  h1 {
    font-size: 44px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 48px;
  }

  p {
    font-size: 20px;
    margin-bottom: 32px;
  }

  a,
  button {
    font-size: 20px;
  }
}
