.footer {
  background-color: var(--black-0);
  color: var(--white-1);
  padding: 40px 0 20px;
  text-align: center;
}

.attribution {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 20px 32px;
  }

  .footer .text {
    font-size: 14px;
  }
}
