.container {
  height: calc(100vh - 80px);
}

.title {
  display: block;
  font-weight: 400;
  margin-top: 40px;
}

.downloadButton {
  align-self: center;
  background-color: var(--orange-0);
  border-radius: 4px;
  border: none;
  color: var(--black-0);
  margin-top: 20px;
  padding: 16px 48px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: var(--orange-1);
  color: var(--black-0);
  text-decoration: none;
}

.imgContainer {
  margin-top: 100px;
}

.scrollIcon {
  display: block;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  bottom: 0;
  font-size: 24px;
  animation: bob 0.5s infinite alternate;
}

@keyframes bob {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.img {
  width: 100%;
  height: auto;
}

/* scroll icon should not overlap the rest of the hero section */
@media screen and (max-height: 720px) {
  .scrollIcon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: unset;
    padding-bottom: 80px;
  }

  .title {
    padding: 0;
    margin-top: 80px;
  }

  .imgContainer {
    margin: 120px calc(-1 * var(--page-padding-side) / 2);
  }

  .scrollIcon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 0 92px;
  }
}
