.title {
  display: block;
  font-weight: 400;
  margin-top: 40px;
}

.downloadButton {
  background-color: var(--orange-0);
  border-radius: 4px;
  border: none;
  color: var(--black-0);
  display: inline-block;
  margin-top: 20px;
  padding: 16px 48px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: var(--orange-1);
  color: var(--black-0);
  text-decoration: none;
}

.imgContainer {
  --margin-top: 80px;
  --mask-image: linear-gradient(
    to right,
    transparent calc(0.7 * var(--page-padding-side)),
    rgba(0, 0, 0, 1) calc(1.1 * var(--page-padding-side)),
    rgba(0, 0, 0, 1) calc(100% - 1.1 * var(--page-padding-side)),
    transparent calc(100% - 0.7 * var(--page-padding-side))
  );
  display: flex;
  justify-content: center;
  margin: var(--margin-top) calc(-1 * var(--page-padding-side)) 0;
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
}

.img {
  width: 300%;
  max-width: 1083px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 0 92px;
  }

  .imgContainer {
    --margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding: 0;
  }

  .imgContainer {
    --margin-top: 40px;
  }
}
